/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
  -----------------------------------------------------------------*/




  .text-primary{
   color:#97d254 !important;
 } 
 .text-white{
   color:#FFF !important;
 }

  .section-primary{
   background:#97d254 !important;
   color: #fff;
 }
  .section-primary .feature-box h3{
    color: #333;
  }
  .section-primary .feature-box p{
    color: #111;
  }

 .section-dark{
  background: #111 !important;
}

.page-quem-somos p{
	font-size: 16px;
}

.background-depoimentos-clientes{
 color:#FFF;
 padding: 200px 0;
 background: url(/galerias/fundos/explore.jpg) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.background-depoimentos-clientes h1{
  color: #FFF;
}

.revo-slider-emphasis-text {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 20px;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  width: 650px;
  text-align: center;
  line-height: 1.5;
}

.revo-slider-caps-text {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}

.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }


.boxNewslleter {
  position: relative;
  background: #FFF;
  float: left;
  width: 100%;
  padding: 10px 20px;
}

.boxNewslleter .boxs{
  margin:0.5%;
}

.boxNewslleter .box_one {
  width: 24%;
  float: left;
}
.boxNewslleter .box_two {
  width: 24%;
  float: left;
}
.boxNewslleter .box_three {
  width: 49%;
  float: left;
}
@media screen and (max-width:991px){
 .boxNewslleter .box_one {
  width: 99%;
}
.boxNewslleter .box_two{
  width: 99%;
}
.boxNewslleter .box_three{
  width: 99%;
}
}
.sombra-div {
  width: 100%;
  height: 48px;
  float: left;
  background: url(/galerias/sombra-div.png) no-repeat center center;
  position: relative;
  bottom: 0;
  z-index: 9;
}


