<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 sol-sm-12">
            <div class="form-process" style="max-height: 450px; background-color: #f5f5f561"></div>
            <!--BEGIN: form-->
            <form  class="form-horizontal" @submit.prevent="send($event, form)" autocomplete="off">
                <div class="col-xs-12 col-md-7">
                    <label for="name">Nome <small>*</small></label>
                    <input type="text"
                           id="name"
                           v-model="form.name"
                           @input="$v.form.name.$touch"
                           placeholder="Nome completo"
                           class="sm-form-control">
                    <span class="form-input-error__message" v-if="$v.form.name.$error">
                        <small v-if="!$v.form.name.required">Informe seu nome completo.</small>
                        <small v-if="!$v.form.name.minLength">Nome curto demais.</small>
                    </span>
                </div>
                <div class="col-md-5">
                    <label for="phone">Telefone <small>*</small></label>
                    <the-mask
                            id="phone"
                            placeholder="Telefone/Celular"
                            class="sm-form-control"
                            v-model="form.phone"
                            @input="$v.form.phone.$touch"
                            :mask="['(##) ####-####', '(##) #####-####']"/>
                    <span class="form-input-error__message" v-if="$v.form.phone.$error">
                        <small v-if="!$v.form.phone.required">Informe seu telefone ou celular.</small>
                    </span>
                </div>
                <div class="clearfix bottommargin-sm"></div>
                <div class="col-md-12">
                    <label for="email">E-mail <small>*</small></label>
                    <input
                            type="email"
                            id="email"
                            placeholder="E-mail válido"
                            v-model="form.email"
                            @input="$v.form.email.$touch"
                            class="sm-form-control">
                    <span class="form-input-error__message" v-if="$v.form.email.$error">
                        <small v-if="!$v.form.email.required">Informe seu e-mail de contato.</small>
                        <small v-if="!$v.form.email.email">Formato de e-mail inválido.</small>
                    </span>
                </div>
                <div class="clearfix bottommargin-sm"></div>
                <div class="col-md-12 bottommargin-sm"><label for="message">Mensagem</label>
                    <textarea
                            id="message"
                            rows="4"
                            cols="30"
                            v-model="form.message"
                            @input="$v.form.message.$touch"
                            placeholder="Descreva seu interesse em anunciar, comprar ou legalizar sua reserva."
                            class="sm-form-control"></textarea>
                    <span class="feedback" style="float: right; font-size: 0.8em; color: rgb(153, 153, 153);">({{ form.message.length }} / <b id="counter">250</b>)</span>
                    <span class="form-input-error__message" v-if="$v.form.message.$error">
                        <small v-if="!$v.form.message.required">Informe seu telefone ou celular.</small>
                        <small v-if="!$v.form.message.maxLength">Você excedeu o limite de caracteres.</small>
                    </span>
                </div>
                <div class="col-md-12 text-center">
                    <button class="button nomargin" :disabled="$v.form.$invalid">Cadastrar Interesse</button>
                </div>
            </form>
            <!--END: form-->
        </div>

        <!--BEGIN: feedback -->
        <sweet-modal ref="feedback" :icon="feedback.icon" overlay-theme="dark" width="400">
            {{ feedback.message }}
        </sweet-modal>
        <!--END: feedback -->
    </div>
</template>

<script>

	// components
	import {TheMask} from 'vue-the-mask'
	import {SweetModal} from 'sweet-modal-vue'

	// rules
	import {required, email, minLength, maxLength} from 'vuelidate/lib/validators'
	import { validationMixin } from 'vuelidate'


	export default {
		name: "FormInteresse",

		mixins: [validationMixin],

		components: {
			TheMask,
			SweetModal
		},

		props: {
			reservation: {
				type: Object,
				required: true
			}
		},

		data() {
			return {
				form: {
					name: '',
					phone: '',
					email: '',
					message: ''
				},
				feedback: {
					message: 'algo.',
					icon: 'info'
				}
			}
		},

		watch: {
			'$v.form.name.$error'(valid) {
				let el = $('#name');
				if(valid) {
					el.addClass('form-input--error animated shake')
				}else{
					el.removeClass('form-input--error animated shake')
				}
			},
			'$v.form.phone.$error'(valid) {
				let el = $('#phone');
				if(valid) {
					el.addClass('form-input--error animated shake')
				}else{
					el.removeClass('form-input--error animated shake')
				}
			},
			'$v.form.email.$error'(valid) {
				let el = $('#email');
				if(valid) {
					el.addClass('form-input--error animated shake')
				}else{
					el.removeClass('form-input--error animated shake')
				}
			},
			'$v.form.message.$error'(valid) {
				let el = $('#message');
				if(valid) {
					el.addClass('form-input--error animated shake')
				}else{
					el.removeClass('form-input--error animated shake')
				}
			}
		},

		validations: {
			form: {
				name: {required, minLength: minLength(6)},
				email: {required, email},
				phone: {required},
				message: {required, maxLength: maxLength(250)}
			}
		},

		methods: {
			/**
			 *
			 * @param event
			 * @param data
			 */
			send(event, data) {
				let form = $(event.target).find('input,textarea');
				let process = $('div[class=form-process]');

				form.prop('disabled', true); // desativar campos

				process.fadeIn();

				setTimeout(() => {
					axios.post(`/services/bank-reservations/${this.reservation.id}/interest`, data)
                        .then(response => {
                            if(response.status === 201) {
								this.message('Interesse cadastrado com sucesso, aguarde...', 'success');
								this.reset();
                            }
                        })
					process.fadeOut(500, function() {
						form.prop('disabled', false); // reativar campos
					});
				}, 2000);
			},

			/**
			 *
			 * @param message
			 * @param icon
			 */
			message(message, icon = 'info') {
				this.feedback = {
					message,
					icon
				};
				// open
				this.$refs.feedback.open();
			},

			/**
			 *
			 *
			 */
			reset() {
				// form init state
				this.form = this.formReset;
				// validate reset
				this.$v.form.$reset();
			}
		},

		created() {
			this.formReset = _.cloneDeep(this.form);
		}
	}
</script>

<style lang="scss" scoped>
    .form-input--error{
        border-color: #f76e68;
        transition: all 1s ease;
    }

    .form-input-error__message {
        color: #f76e68;
        display: block;
    }

    button[disabled], html input[disabled] {
        background-color: #f1f1f1;
        cursor: not-allowed;
    }
</style>